
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">
                <!-- Content -->
                <!--<h5 class="text-uppercase"></h5>-->
                <!--<p></p>-->
                <img class="" src="images/footer/logo-footer.png" title="medellín en la cabeza" alt="medellín en la cabeza">
            </div>
            
            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">
                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            
            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">
                <!-- Content -->
<!--                <h5 class="text-uppercase">Footer Content</h5>
                <p>col.</p>-->
                <img class="" src="images/footer/institutional-logos-footer.png" title="medellín en la cabeza" alt="medellín en la cabeza">
            </div>

            <!-- Grid column -->
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->



    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">medellín en la cabeza</a>
    </div>
    <!-- End Copyright -->