<!-- El logotipo y el icono que despliega el menú se agrupan
             para mostrarlos mejor en los dispositivos móviles -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-ex1-collapse">
                    <span class="sr-only">desplegar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="desktop.html">
                    melc
                    <!--<img src="images/calendar.jpg" border="0" title="Google" width="75" height="35">-->
                </a>
            </div>

            <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                 otro elemento que se pueda ocultar al minimizar la barra -->
            
                         
            <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-color">
                 <ul class="nav navbar-nav">
                    <!--<li><a href="#">Ajustes</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          archivo <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">copias de seguridad</a></li>
                        </ul>                       
                    </li>
                </ul>
                
                <ul class="nav navbar-nav">
                    <!--<li><a href="#">Ajustes</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          configuraciones <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="advertisement.html" >anuncios</a></li>
                            <li><a href="contact-information.html">información contacto</a></li>
                            <li><a href="newsletter.html">suscripciones</a></li>
                            <li><a href="social-network.html">redes sociales</a></li>
                        </ul>                       
                    </li>
                </ul>
                    
                  
                <!--SiteSearch Google -->           
                
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Ajustes</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          ayuda <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">soporte</a></li>
                            <li><a href="#" id="about">acerca de</a></li>
                        </ul>
                      </li>
                </ul>
                <p class="navbar-text navbar-right">usuario: <a href="#" class="navbar-link">administrador</a></p>
            </div>    