
    <!-- Footer Links -->
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <!--<div class="col-md-2 mt-md-0 mt-3"></div>-->
            
            <!-- Grid column -->
            <!--<div class="col-md-4 mt-md-0 mt-3">-->
            <div class="col-sm-2">
                <img class="" src="assets/images/footer/logo-footer.png" title="Medellín en la Cabeza" alt="Medellín en la Cabeza">
            </div>
            
            <div class="col-sm-2">
                <img id="logo-alcaldia" src="assets/images/footer/logo-alcaldia.png" title="Alcadía de Medellín" alt="Alcadía de Medellín">
            </div>
            
            <div class="col-sm-1"></div>
            
            <!-- Grid column -->
            <div class="col-sm-7">
                <div class="row">&nbsp;</div>
                
                <div class="" id="contact-information"></div>

                <!--<hr class="clearfix w-100 d-md-none pb-3">-->

    <!--            <p>&nbsp;</p>
                <p>&nbsp;</p>-->

                <!-- Grid column -->
                <!--<div class="col-md-1 mt-md-0 mt-3"></div>-->

                <!-- Grid column -->
                <!--<div class="col-md-4 mb-md-0 mb-3" id="links-social-networks"></div>-->

                <div class="" id="links-social-networks"></div>
                
                <div class="row">&nbsp;</div>
                
                <div class="" id="newsletter-section">
                    <form role="form" name="frmNewsletter" id="frmNewsletter" class="" method="post">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group" id="divEmail">
                                    <label for="txtEmail" class="control-label font-social-network">Suscríbete al boletín de noticias</label>
                                    <div class="input-group">
                                        <input type="text" name="txtEmail" id="txtEmail" class="form-control input-lg" placeholder="correo" maxlength="200" data-toggle="tooltip" data-placement="bottom" data-validate="validate(required, email)" title="ingrese el correo" />                        
                                        <span class="input-group-addon">
                                            <input type="image" src="assets/css/glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-422-send.png" title="Enviar">
                                        </span>
                                    </div>                   
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            
        </div>
        
        <div class="row">&nbsp;</div>
        
        <!-- Grid row -->

    <!-- Footer Links -->

    <!-- Copyright -->
    <!-- End Copyright -->
